<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'PROFILE' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="profile-content">
  <div class="user-details">
    <ion-row class="user-main-data-row">
      <ion-col no-padding width-33>
        <preload-image
          class="user-image"
          [ratio]="{w:1, h:1}"
          [(src)]="profile.user.image"
        ></preload-image>
      </ion-col>
      <ion-col no-padding>
        <h2 class="user-name">{{profile.user.name}}</h2>
        <span class="user-location">{{profile.user.location}}</span>
      </ion-col>
    </ion-row>
  </div>
  <div class="accordion-container">
    <div class="accordion-head" (click)="switchGeneView()">
      <span class="head">النقيب العام</span>
      <span *ngIf="!general" class="icon"
        ><i class="fa fa-chevron-down" aria-hidden="true"></i
      ></span>
      <span *ngIf="general" class="icon"
        ><i class="fa fa-chevron-up" aria-hidden="true"></i
      ></span>
    </div>
    <div class="accordion-body" *ngIf="general">
      <ion-grid class="name">
        <ion-row>
          <ion-col col-2>
            أ.د/
          </ion-col>
          <ion-col col-10>
            خالد حلمي محمد سليم
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="accordion-container">
    <div class="accordion-head" (click)="switchSecView()">
      <span class="head">أعضاء المجلس</span>
      <span *ngIf="!sec" class="icon"
        ><i class="fa fa-chevron-down" aria-hidden="true"></i
      ></span>
      <span *ngIf="sec" class="icon"
        ><i class="fa fa-chevron-up" aria-hidden="true"></i
      ></span>
    </div>
    <div class="accordion-body sec" *ngIf="sec">
      <ion-grid class="name">
        <ion-row>
          <ion-col col-4>
            الوكيل
          </ion-col>
          <ion-col col-8>
            د/ محمد فكري البيومي القرش
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            الأمين العام
          </ion-col>
          <ion-col col-8>
            د/ البدري أحمد ضيف محمد
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            أمين الصندوق
          </ion-col>
          <ion-col col-8>
            د/ السيد إبراهيم علي عبيد
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            الأمين العام المساعد
          </ion-col>
          <ion-col col-8>
            د/ أحمد محمد الخيري عبد اللطيف
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            أمين الصندوق المساعد
          </ion-col>
          <ion-col col-8>
            د/ محسن حامد محمد محمد
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="accordion-container">
    <div class="accordion-head" (click)="switchThirdView()">
      <span class="head">أعضاء المجلس</span>
      <span *ngIf="!third" class="icon"
        ><i class="fa fa-chevron-down" aria-hidden="true"></i
      ></span>
      <span *ngIf="third" class="icon"
        ><i class="fa fa-chevron-up" aria-hidden="true"></i
      ></span>
    </div>
    <div class="accordion-body sec" *ngIf="third">
      <ion-grid class="name">
        <ion-row>
          <ion-col col-6>
            د/ الحسينى محمد عوض على
          </ion-col>
          <ion-col col-6>
            <p>مقرر لجنة حماية الحيوان والحياة البرية </p>
            <p>أمين صندوق تكافل الأطباء البيطريين </p>
            <p> أمين صندوق نادى العجوزة </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            د/ احمد محمد محمد مسعد طنطاوي
          </ion-col>
          <ion-col col-6>
            <p>مقرر لجنة المنشأت البيطرية ودخلاء المهنة</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            د/ نبيلة السيد إبراهيم أبو زيد
          </ion-col>
          <ion-col col-6>
            <p>مقرر لجنة حكماء المهنة ولجنة التحاليل الطبية</p>
            <p>رئيس مجلس إدارة صندوق الغارمين</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            د/ شيرين على زكى أحمد
          </ion-col>
          <ion-col col-6>
            <p>مقرر لجنة الشكاوى والمقترحات </p>
            <p>عضو مجلس إدارة نادى العجوزة</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            د/ عبد العزيز محمد محمد الجوهري
          </ion-col>
          <ion-col col-6>
            <p>مقرر لجنة تنمية الموارد</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            د/ أشرف قاسم احمد احمد ربيع
          </ion-col>
          <ion-col col-6>
            <p>مقرر اللجنة العلمية</p>
            <p>ورئيس المركز العلمى</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            د/ محمد عفيفى على سيف
          </ion-col>
          <ion-col col-6>
            <p>مقرر لجنة تكنولوجيا المعلومات</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            د/ احمد محمد احمد البنداري
          </ion-col>
          <ion-col col-6>
            <p>مدير المركز العلمى</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            د/  محمد شفيق محمد الهادي
          </ion-col>
          <ion-col col-6>
            <p>مدير صندوق التكافل الاجتماعى</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            د/ ياسمين أحمد ابوالخيراحمد حافظ
          </ion-col>
          <ion-col col-6>
            <p>رئيس مجلس إدارة نادى العجوزة</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
           د/ ناجي علي عبد الله سلام
          </ion-col>
          <ion-col col-6>
            <p>مقرر لجنة العلاج</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            د/ ايمن محمد حلمي عبدالسلام
          </ion-col>
          <ion-col col-6>
            <p>مقرر لجنة الإسكان</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            د/ محمد سامي احمد حجازي
          </ion-col>
          <ion-col col-6>
            <p>عضو مجلس إدارة نادى العجوزة</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            د/ محمد عفيفى على سيف
          </ion-col>
          <ion-col col-6>
            <p>عضو مجلس إدارة نادى العجوزة</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            د/ محمد أشرف عويس محمود
          </ion-col>
          <ion-col col-6>
            <p>مقرر اللجنة الاجتماعية</p>
            <p>عضو مجلس إدارة نادى العجوزة</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            د/ شرف الدين فيصل شرف محمد
          </ion-col>
          <ion-col col-6>
            <p>مقرر لجنة النقابات الفرعية </p>
            <p>عضو مجلس إدارة نادى العجوزة</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            د/ حسن زكي راتب احمد
          </ion-col>
          <ion-col col-6>
            <p>مقرر لجنة الشؤون القانونية</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            د/ زكريا حسن حسن الشناوي
          </ion-col>
          <ion-col col-6>
            <p>عضو مجلس</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
           د/ محمد مبروك عبد العزيز عبد القادر
          </ion-col>
          <ion-col col-6>
            <p>عضو مجلس</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <!-- <h4 class="categories-title">أعضاء هيئة المكتب</h4>
  <div [ngSwitch]="display" class="user-content">
    <div *ngSwitchCase="'list'" class="list-view">
      <div class="list-item" *ngFor="let post of profile.posts">
        <ion-card>
          <ion-card-content>
            <p class="item-text">
              {{post.description}}
            </p>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
  <h4 class="categories-title">أعضاء المجلس</h4>
  <div [ngSwitch]="display" class="user-content">
    <div *ngSwitchCase="'list'" class="list-view">
      <div class="list-item" *ngFor="let post of profile.vets">
        <ion-card>
          <ion-card-content>
            <p class="item-text">
              {{post.description}}
            </p>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div> -->
</ion-content>
